.Pizza {
  height: 50vh;
  background: url(../images/pizza-splash.jpg);
  background-size: cover;
  background-position: center;
  text-align: center
}

.Pizza .header-text {
  padding-top: 8%;
  color: white;
  font-size: 8em;
  font-weight: 900
}
